/*
RESET 
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
Common  
*/
[v-cloak] {
    display: none;
  }  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#429488 0%,
            #429488 130px,
            #dbdbd3 130px,
            #dbdbd3 100%);
}
.d-flex {
    display: flex;
}
.column{
    flex-direction: column;
}
.m-2 {
    margin: .3125rem;
}
.p-2 {
    padding: .3125rem;
}
.p-5 {
    padding: .9375rem;
}
.space-bet {
    justify-content: space-between;
}
.content-center {
    justify-content: center;
}
.al-cent{
    align-items: center;
}
.grow {
    flex-grow: 1;
}
.shrink{
    flex-shrink: 0;
}
.list-style {
    list-style: none;
}
.link {
    color: gray;
    text-decoration: underline;
    cursor: pointer;
}
.img{
    width: 60px;
    height: 60px;
    padding: .3125rem;
    background-color: #dbdbd3;
    border: .0625rem solid #dbdbd3;
    border-radius: 1.25rem;
}
img{
    width: 80%;
}
/*
Scrollbar  
*/
.chat-main .scroll-area {
    width: 250px; 
    height: 250px; 
    overflow: auto; 
    padding: 0 10px; 
    position: absolute; 
    left: 0px;
    right: 300px;
    top: 0px;
    bottom: 0px; 
    margin: auto;
    font-size: 14px;
    color: #333;
}
.chat-main .scroll-area p {
    padding: 0;
}

.chat-main ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
.chat-main ::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
}
 
.chat-main::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
}
/*
Container  
*/
.container {
    width: 70vw;
    height: 80vh;
}
/* 
Col Left  
*/
#left {
    width: 40%;
}
/*
----Header  
*/
.header {
    padding: .9375rem;
    border: 1px solid black;
    background-color: #eaeaea;
}
.header ul li i {
    color: gray;
    cursor: pointer;
}
/*
----Alert 
*/
.alert {
    background-color: #91dafa;
    border: .0625rem solid black;
}
.alert_icon {
    background-color: #fefefe;
    border: .0625rem solid #fefefe;
    border-radius: 50%;
    padding: .9375rem;
    color: #91dafa;
}
/*
----Searchbar 
*/
.search {
    background-color: #eaeaea;
    padding: .9375rem;

}
.search i {
    cursor: pointer;
}
.search i,.search input {
    padding: 5px;
    background-color: #ffffff;
}
/*
----Chat Body 
*/
.chat_body {
    border: 1px solid black;
    overflow-y: scroll;
}
/* 
Col Right  
*/
#right {
    width: 60%;
}
#right .header{
    border: 1px solid black;
}
.chat-main{
    border: 1px solid black; 
    background-image:url(../img/mine.jpg);
    overflow-y: scroll;
}
.chat-send{
    border: 1px solid black; 
    background-color: #f3eeea;
}
.chat-send>div>i{
    cursor: pointer;
}