/*
RESET 
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
Common  
*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#429488 0%,
            #429488 130px,
            #dbdbd3 130px,
            #dbdbd3 100%);
}
.d-flex {
    display: flex;
}
.m-2 {
    margin: .3125rem;
}
.p-2 {
    padding: .3125rem;
}
.space-bet {
    justify-content: space-between;
}
.content-center {
    justify-content: center;
}
.al-cent{
    align-items: center;
}
.grow {
    flex-grow: 1;
}
.shrink{
    flex-shrink: 0;
}
.list-style {
    list-style: none;
}
.link {
    color: gray;
    text-decoration: underline;
    cursor: pointer;
}
/*
Container  
*/
.container {
    width: 70vw;
    height: 80vh;
}
/* 
Col Left  
*/
#left {
    width: 40%;
}
/*
----Header  
*/
.header {
    padding: .9375rem;
    border: 1px solid black;
    background-color: #eaeaea;
}
.header ul li i {
    color: gray;
    cursor: pointer;
}
/*
----Alert 
*/
.alert {
    background-color: #91dafa;
    border: .0625rem solid black;
}
.alert_icon {
    background-color: #fefefe;
    border: .0625rem solid #fefefe;
    border-radius: 50%;
    padding: .9375rem;
    color: #91dafa;
}
/*
----Searchbar 
*/
.search {
    background-color: #eaeaea;
    padding: .9375rem;

}
.search i {
    cursor: pointer;
}
.search i,.search input {
    padding: 5px;
    background-color: #ffffff;
}
/*
----Chat Body 
*/
.chat_body {
    border: 1px solid black;
}
/* 
Col Right  
*/
#right {
    width: 60%;
    border: 1px solid black;
}